
exportPattern("^[[:alpha:]]+")
import(data.table)
import(doParallel)
import(doSNOW)
import(dplyr)
import(ff)
import(ggtern)
import(gplots)
import(grDevices)
import(heatmaply)
import(Hmisc)
import(lubridate)
import(MASS)
import(matrixStats)
import(mgcv)
import(openxlsx)
import(Peptides)
import(pheatmap)
import(plotly)
import(plyr)
import(randomcoloR)
import(randomForest)
import(raster)
import(readMzXmlData)
import(robustbase)
import(seqinr)
import(shiny)
import(shinyFiles)
import(shinyjs)
import(stringr)
import(tibble)
import(tidyr)
importFrom("graphics", "abline", "axis", "legend", "par", "points","rect", "segments", "smoothScatter", "title")
importFrom("methods", "is")
importFrom("stats", "dnorm", "lm", "median", "na.omit", "optim","pnorm", "reshape", "rnorm", "sd", "t.test")
importFrom("utils", "choose.dir", "flush.console","installed.packages", "read.csv", "read.table","setTxtProgressBar", "setWinProgressBar", "winProgressBar","write.table")
